@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Gravitas+One&family=Sekuya&display=swap");

@font-face {
  font-family: Array;
  src: url("./Assets/Fonts/Array-Regular.ttf");
}

/*  */
@font-face {
  font-family: KhandRGL;
  src: url("./Assets/Fonts/Khand-Regular.ttf");
}
@font-face {
  font-family: Satosh-Italic;
  src: url("./Assets/Fonts/Satoshi-Italic.ttf");
}
/*  */
@font-face {
  font-family: Panchang;
  src: url("./Assets/Fonts/Panchang-Regular.otf");
}
@font-face {
  font-family: PanchangMD;
  src: url("./Assets/Fonts/Panchang-Medium.otf");
}
@font-face {
  font-family: PanchangSB;
  src: url("./Assets/Fonts/Panchang-Semibold.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
/* @theme {
  --font-arvo: Arvo, "sans-serif";
  --font-gravitas: Gravitas One, "sans-serif";
} */
html {
  overflow-x: hidden;
}
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer components {
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .loader::before {
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background-image:
      radial-gradient(circle 8px at 18px 18px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 18px 0px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 0px 18px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 36px 18px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 18px 36px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 30px 5px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 30px 30px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 5px 30px, #212121 100%, transparent 0),
      radial-gradient(circle 4px at 5px 5px, #212121 100%, transparent 0);
    animation: rotationBack 3s linear infinite;
  }

  .loader::after {
    left: 35px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-image:
      radial-gradient(circle 5px at 12px 12px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 12px 0px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 0px 12px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 24px 12px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 12px 24px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 20px 3px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 20px 20px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 3px 20px, #212121 100%, transparent 0),
      radial-gradient(circle 2.5px at 3px 3px, #212121 100%, transparent 0);
    animation: rotationBack 4s linear infinite reverse;
  }

  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
